body {
    background-color: rgb(161, 137, 113);
    font-size: 30px;
}

.container {
    border: solid 3px rgb(140, 105, 73);
    width: 500px;
    margin: 20% auto;
    background-color: rgb(188, 160, 133);
    padding: 10px;
    border-radius: 10px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.look {
    border: solid 3px rgb(140, 105, 73);
    background-color: rgb(187, 174, 154);
    padding: 10;
    display: flex;
    justify-content: center;
    margin: 9px;
    height: 70px;
    width: 150px;
    border-radius: 10px;
}

i {
    margin: 3px;
}